<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.pratham.findmyslot"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindMySlot"
        tools:ignore="AllowBackup">
        <activity android:name="tech.pratham.findmyslot.activities.ResultActivity" />
        <activity android:name="tech.pratham.findmyslot.activities.HomeActivity" />
        <activity android:name="tech.pratham.findmyslot.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3430847732969236~2087322036"/>
    </application>

</manifest>